.box {
	width: 0%;
	transition: width 0.2s, height 0.2s;
}
.bigbox:hover .text1 {
	font-size: 100%;
	padding: 2%;
	height: 50px;
	display: flex;
}
.bigbox:hover .box {
	width: 50%;
}
.text1 {
	font-size: 0%;
	transition: width 2s, height 5s display 5s;
	display: none;
}
